<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding
         name="web_http"
         bypassProxyOnLocal="false"
         hostNameComparisonMode="WeakWildcard">
        </binding>
      </webHttpBinding>
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="HelloWCF">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web_behavior">
          <webHttp helpEnabled="True" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <services>
      <service name="Hello.WCF.MessengerService" behaviorConfiguration="HelloWCF">
        <host>
          <baseAddresses>
            <add baseAddress="http://hello-server/HelloService" />
          </baseAddresses>
        </host>
        <endpoint adress ="HelloService"  behaviorConfiguration="web_http" binding="webHttpBinding" contract="Hello.WCF.IMessengerService"/>
        <endpoint contract="IMetadataExchange"
         binding="mexHttpsBinding" address="mex"/>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Um das Stammverzeichnis der Webanwendung beim Debuggen auszuwählen, legen Sie den Wert unten auf "true" fest.
        Legen Sie ihn vor der Bereitstellung auf "false" fest, um die Veröffentlichung von Informationen über den Webanwendungsordner zu vermeiden.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>